.form-container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 50px;
}

.center {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.left {
  margin-left: 45px;
}

.contact-info-container {
  padding: 2rem;
  color: rgb(73, 63, 63);
}

.contact-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  border-bottom:solid #dad0d0;
  padding-bottom:2rem;
}

.contact-item {
  text-align: center;
  border-right: 1px solid #dad0d0;
  flex: 1;
}

.contact-item.no-border {
  border-right: none;
}

.contact-item h3 {
  margin: 1rem 0;
  font-size: 1.5rem;
}

.contact-item p {
  color: #575353;
  margin: 0.5rem 0;
}

.border-contact {
  position: relative;
  margin-bottom: 50px;
}

.border-contact:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;  /* 控制橫線寬度 */
  height: 3px;  /* 控制橫線粗細 */
  background-color: #edd08d;
}

@media (max-width: 600px) {
  .contact-section {
      flex-direction: column;
  }

  .contact-item {
      width: 100%;
      border-right: none;
      text-align: center;
      padding: 1rem 0;
  }

  .contact-item:not(:last-child) {
      border-bottom: 1px solid #dad0d0;
  }
}